.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
/_posts/2022-03-22-spatial-analysis-protecting-whales/data/sightings2002_2018.csv
/_posts/2022-03-22-spatial-analysis-protecting-whales/data/station1249.csv
